.App {
  text-align: center;
}

.app_form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: grey;
  width: 90%;
  margin: 0;
}

.app_formControl{
  display: flex!important;
}